* {
  margin: 0 auto;
}

.books {
  display: inline-block;
  margin: 0 auto;
  align-items: baseline;
}

.books ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.books li {
  display: list-item;
  padding: 20px 20px;
  vertical-align: baseline;
}

.bookOne {
  grid-row: 1;
  grid-column: 1;
}

.bookTwo {
  grid-row: 1;
  grid-column: 2;
}

.bookThree {
  grid-row: 1;
  grid-column: 3;
}

.books img {
  width: 100%;
  bottom: 60px;
}

.books a {
  vertical-align: baseline;
}
